<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
        .error{
            color: red;
            font-style: italic;
        }
</style>
    </head>
<body>
    {% if username not in session %}
    <div>
    <a href="/">User list</a><span> | </span><a href="/newpost">Newpost</a>
    </div>
    {% endif %}

    {% if username in session %}
    <div>
    <a href="/blogs">your blog posts</a><span> | </span><a href="/newpost">Newpost</a>
    </div>
    {% endif %}


    {% block content %}
    {% endblock %}

</body>
</html>
