{% extends "base.html" %}

{% block content %}
<h1 class="heading">Login</h1>
{% with messages = get_flashed_messages() %}
    {% for msg in messages %}
    <div class="error">{{msg}}</div>
    {% endfor %}
{% endwith %}

<form action='/login' method='post'>
    <table>
        <tr>
            <td>
            <p>Username:</p>
            <input type="text" name="username"></td>
        </tr>
        <tr>
            <td>
            <p>Password:</p>
            <input type="password" name="password"></td>
        </tr>
        <tr>
            <td><input type="submit" value="submit"></td>
        </tr>

</form>
{% endblock %}